<div class="contenido">
	<mat-card>
		<div class="cont-logeo">
		  <div class="alerta" *ngIf="alerta">
		  	<p >{{mensaje}}</p>
		    <button  (click)="limpiarAlerta()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
		    <mat-icon class="icon">clear</mat-icon>
		    </button>
		  </div>
		  
	      <mat-card-header>
		    <div mat-card-avatar class="example-header-image"></div>
		    <mat-card-title>Login</mat-card-title>
		  </mat-card-header>

		 <div class="example-form">
		  <div class="example-container">
		  	<mat-form-field class="example-full-width">
			    <mat-label>Email</mat-label>
			    <input type="email" name="user" [(ngModel)]="user" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
			    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
			      Please enter a valid email address
			    </mat-error>
			    <mat-error *ngIf="emailFormControl.hasError('required')">
			      Email is <strong>required</strong>
			    </mat-error>
		    </mat-form-field>
		  </div>
		  
		    <div class="example-container">
			  <mat-form-field class="example-full-width">
			    <mat-label>Enter your password</mat-label>
			    <input  matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
			    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			    </button>
			  </mat-form-field>
			</div>
			<div class="example-button-row">
			    <button class="btm btn-lg" disabled="{{estado}}"  (click)="login()"         mat-raised-button color="primary">Start
			    
			    </button>  
			</div> 
            <div class="registro">
            	<p>¿You do not have an account?
            	<a  [routerLink]="register" >
	          	Register
	        	</a>
	        	</p>
            </div>
			

	        <div *ngIf="progreso">
			 <mat-spinner>
			 	
			 </mat-spinner>
	        </div>
	    </div>
	   </div>
	</mat-card>

	
</div>
