
.container{
	margin-top: 10px;


}

mat-card .contenido{
	display:block;
  text-align: center;
}
mat-card-title{
	font-size: 20px;
	background:#f2f2f2;
	border-radius: 5px;
	padding: 5px;
	text-align: left;
}
img{
	width: 40%;
	height: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	border-radius:10px;
}
.editFoto{

	width: 40%;
	margin-bottom: 20px;
	border-radius: 10px;
}
.example-form-field {
  width: 100%;
}
.seccion{
	display: flex;
	margin-bottom: 25px;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
mat-form-field {
	width: 100%;
}
.seccion button
{
   margin-top: 20px;
   margin-left: 10px;

  
}